@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@font-face {
  font-family: Circular Std;
  src: url(../fonts/CircularStd-Black.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.content {
  max-width: 1320px;
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
  font-family: "Circular Std";
  font-weight: 900;
  font-size: 96px;
  line-height: 120px;
  text-align: center;
  color: #050038;
}

h2 {
  font-family: "Circular Std";
  font-weight: 900;
  font-size: 72px;
  line-height: 91px;
  color: #050038;
}

h3 {
  margin: 0 auto;
  font-family: "Circular Std";
  font-weight: 700;
  font-size: 42px;
  line-height: 53px;
  text-align: center;
  color: #050038;
}

.learn-more {
  display: inline-block;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  padding-bottom: 3px;
  border-bottom: 2px solid #0555FF;
}

.switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 -2.5px;
  margin-bottom: 100px;
}
.switcher > div {
  margin: 0 2.5px;
  width: 30px;
  height: 3px;
}
.switcher_focus {
  background-color: #050038;
}
.switcher_prefocus {
  background-color: #727277;
}
.switcher_unfocus {
  background-color: #C4C4C4;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #d1d1d1;
}

.white-btn {
  display: inline-block;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 40px rgba(176, 201, 253, 0.3);
          box-shadow: 0px 10px 40px rgba(176, 201, 253, 0.3);
  border-radius: 30px;
  width: 251px;
  height: 50px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0555FF;
}

.blue-btn {
  display: inline-block;
  text-align: center;
  background: #0555FF;
  border-radius: 30px;
  width: 180px;
  height: 50px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  line-height: 48px;
  color: #FFFFFF;
}

.how-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 245px;
  height: 50px;
  background: rgba(5, 85, 255, 0.1);
  border-radius: 30px;
  font-family: "Inter";
  font-size: 15px;
  line-height: 48px;
  text-align: center;
  color: #0555FF;
}
.how-btn img {
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 50%;
  line-height: 48px;
  margin-right: 14px;
}

.header {
  padding: 35px 0;
  margin-bottom: 70px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__menu {
  padding: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Inter";
  font-size: 16px;
  line-height: 19px;
}
.header__menu > a {
  padding: 10px 30px;
  color: #050038;
}
.header__signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 21px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__signin > a {
  display: block;
  color: #050038;
}
.header__signin > a.blue-btn {
  margin-left: 35px;
  color: #FFFFFF;
}

.promo {
  margin-bottom: 100px;
}
.promo__title {
  max-width: 953px;
  margin-bottom: 35px;
}
.promo__subtitle {
  max-width: 705px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-family: "Inter";
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #5B5E6D;
}
.promo__buttons {
  max-width: 480px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 -10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.promo__buttons > a {
  display: inline-block;
  margin: 0 10px;
}
.promo__buttons .white-btn {
  height: 60px;
  line-height: 58px;
}
.promo__buttons .blue-btn {
  height: 60px;
  line-height: 58px;
}
.promo__image {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 150px;
}
.promo__morethan {
  text-align: center;
  margin-bottom: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5B5E6D;
}
.promo__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 -26px;
  margin-bottom: 40px;
}
.promo__companies > img {
  padding: 20px 26px;
}

.services {
  margin-bottom: 150px;
}
.services__title {
  max-width: 895px;
  margin-bottom: 30px;
}
.services__subtitle {
  max-width: 778px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #5B5E6D;
}
.services__how-work {
  margin: 0 auto;
  margin-bottom: 150px;
}
.services__flex-container {
  max-width: 1460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}
.services__flex-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__flex-line_2 {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
.services__padding {
  min-width: 240px;
}
.services__item {
  max-width: 510px;
}
.services__item > h2 {
  margin-bottom: 30px;
}
.services__item > p.item-text {
  font-family: "Inter";
  font-size: 20px;
  line-height: 32px;
  color: #5B5E6D;
  margin-bottom: 40px;
}
.services__imagebox {
  max-width: 658px;
}

.testimonials {
  background-color: #f8f8f8;
  padding: 150px 0;
}
.testimonials__subtitle {
  font-family: "Inter";
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  color: #5B5E6D;
  margin-bottom: 40px;
}
.testimonials__title {
  text-align: center;
  margin-bottom: 70px;
}
.testimonials__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.testimonial__container {
  width: 420px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 15px;
}
.testimonial__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}
.testimonial__photo {
  margin-right: 10px;
}
.testimonial__data {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.testimonial__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Circular Std";
  font-size: 16px;
  line-height: 24px;
  color: #050038;
  margin-bottom: 9px;
}
.testimonial__name span {
  margin-right: 5px;
}
.testimonial__id {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: #596068;
}
.testimonial__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #050038;
}
.testimonial__text p {
  margin-bottom: 30px;
}
.testimonial__text p:last-child {
  margin-bottom: 0;
}

.footer {
  background-color: #050038;
}
.footer__title {
  color: white;
  text-align: center;
  max-width: 669px;
  margin: 0 auto;
  padding-top: 150px;
  margin-bottom: 40px;
}
.footer__form {
  max-width: 748px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 747px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.footer__form input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #050038;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  height: 80px;
  max-width: 528px;
  border-radius: 10px 0 0 10px;
  padding-left: 30px;
  font-family: "Inter";
  font-size: 22px;
  line-height: 32px;
  color: #C1C1C1;
}
.footer__form button {
  width: 221px;
  height: 80px;
  background: #0555FF;
  border-radius: 0px 10px 10px 0px;
}