@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@font-face {
    font-family: Circular Std;
    src: url(../fonts/CircularStd-Black.ttf);
}

@import "reset.scss";

.content {
    max-width: 1320px;
    margin: 0 auto;
}

h1{
    margin: 0 auto;
    font-family: 'Circular Std';
    font-weight: 900;
    font-size: 96px;
    line-height: 120px;
    text-align: center;
    color: #050038;
}
h2{
font-family: 'Circular Std';
font-weight: 900;
font-size: 72px;
line-height: 91px;
color: #050038;
}
h3{
    margin: 0 auto;
    font-family: 'Circular Std';
    font-weight: 700;
    font-size: 42px;
    line-height: 53px;
    text-align: center;
    color: #050038;
}
.learn-more{
    display: inline-block;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-bottom: 3px;
    border-bottom: 2px solid #0555FF;
}
.switcher {
    display: flex;
    justify-content: center;
    padding: 0 -2.5px;
    margin-bottom: 100px;
    &>div{
        margin: 0 2.5px;
        width: 30px;
        height: 3px;
    }
    &_focus {background-color: #050038;}
    &_prefocus {background-color: #727277;}
    &_unfocus {background-color: #C4C4C4;}
}
.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #d1d1d1;
}
.white-btn {
    display: inline-block;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(176, 201, 253, 0.3);
    border-radius: 30px;
    width: 251px;
    height: 50px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    align-items: center;
    color: #0555FF;
    
}
.blue-btn {
    display: inline-block;
    text-align: center;
    background: #0555FF;
    border-radius: 30px;
    width: 180px;
    height: 50px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 48px;
    color: #FFFFFF;
}
.how-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 245px;
    height: 50px;
    background: rgba(5, 85, 255, 0.1);
    border-radius: 30px;
    font-family: 'Inter';
    font-size: 15px;
    line-height: 48px;
    text-align: center;
    color: #0555FF;
    img{
        height: 24px;
        width: 24px;
        display: inline-block;
        border-radius: 50%;
        line-height: 48px;
        margin-right: 14px;
    }
}

.header {
    padding: 35px 0;
    margin-bottom: 70px;
    &__row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        flex: 1 1 auto;
        }

    &__menu {
        padding: 0 -15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-family: 'Inter';
        font-size: 16px;
        line-height: 19px;
        &>a{
            padding: 10px 30px;
            color: #050038;
        }
    }

    &__signin {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 21px;
        flex: 1 1 auto;
        &>a{
            display: block;
            color: #050038;
        }
        &>a.blue-btn{
            margin-left: 35px;
            color: #FFFFFF;
        }
    }
}
.promo {
    margin-bottom: 100px;
    &__title {
        max-width: 953px;
        margin-bottom: 35px;
    }
    &__subtitle {
        max-width: 705px;
        margin: 0 auto;
        margin-bottom: 40px;
        font-family: 'Inter';
        font-size: 22px;
        line-height: 32px;
        text-align: center;
        color: #5B5E6D;


    }
    &__buttons {
        max-width: 480px;
        margin: 0 auto;
        display: flex;
        padding: 0 -10px;
        padding-bottom: 50px;
        margin-bottom: 50px;
        &>a{
            display: inline-block;
            margin: 0 10px;
        }
        .white-btn{
            height: 60px;
            line-height: 58px;
        }
        .blue-btn{
            height: 60px;
            line-height: 58px;
        }
    }
    
    &__image {
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 150px;
    }
    
    &__morethan {
        text-align: center;
        margin-bottom: 5px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        color: #5B5E6D;
    }
    
    &__companies {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 -26px;
        margin-bottom: 40px;
        &>img{
            padding: 20px 26px;
        }
    }
}
.services {
    margin-bottom: 150px;
    &__title {
        max-width: 895px;
        margin-bottom: 30px;
    }

    &__subtitle {
        max-width: 778px;
        margin: 0 auto;
        margin-bottom: 50px;
        font-family: 'Inter';
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #5B5E6D;
        }

    &__how-work {
        margin: 0 auto;
        margin-bottom: 150px;
    }

    &__flex-container {
        max-width: 1460px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    &__flex-line{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        &_2{
            flex-wrap: wrap-reverse;
        }
    }

    &__padding{
        min-width: 240px;
    }
    &__item {
        max-width: 510px;

        &>h2{
            margin-bottom: 30px;
        }
        &>p.item-text{
            font-family: 'Inter';
            font-size: 20px;
            line-height: 32px;
            color: #5B5E6D;
            margin-bottom: 40px;
        }
        &>p.learn-more{
            
        }
        &_1 {}

        &_2 {}

        &_3 {}
    }
    &__imagebox{
        max-width: 658px;
    }
}

.testimonials {
    background-color: #f8f8f8;
    padding: 150px 0;
    &__subtitle {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        color: #5B5E6D;
        margin-bottom: 40px;
        }

    &__title {
        text-align: center;
        margin-bottom: 70px;
        }

    &__flexbox {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}
.testimonial {
    
    &__container {
        width: 420px;
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin: 15px;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    &__photo{
        margin-right: 10px;
    }

    &__data {
        flex: 1 1 auto;
    }

    &__name {
        display: flex;
        align-items: center;
        font-family: 'Circular Std';
        font-size: 16px;
        line-height: 24px;
        color: #050038;
        margin-bottom: 9px;
        span{margin-right: 5px;}
        }

    &__id {
        font-family: 'Inter';
        font-size: 16px;
        line-height: 24px;
        color: #596068;
        }

    &__text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #050038;
        p{
            margin-bottom: 30px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.footer {
    background-color: #050038;
    &__title {
        color: white;
        text-align: center;
        max-width: 669px;
        margin: 0 auto;
        padding-top: 150px;
        margin-bottom: 40px;
    }

    &__form {
        max-width: 748px;
        display: flex;
        width: 747px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 150px;
        input{
            flex: 1 1 auto;
            background-color: #050038;
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-right: none;
            height: 80px;
            max-width: 528px;
            border-radius: 10px 0 0 10px;
            padding-left: 30px;
            font-family: 'Inter';
            font-size: 22px;
            line-height: 32px;
            color: #C1C1C1;
        }
        button{
            width: 221px;
            height: 80px;
            background: #0555FF;
            border-radius: 0px 10px 10px 0px;
        }
    }
    &__flexbox {}
    &__rights{

    }
}
